@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Fira Code", "Consolas", "Menlo", "Monaco", "Ubuntu Mono",
    "DejaVu Sans Mono", monospace;
}